<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xchaset.user.mapper.MenuRoleRelationPOMapper">
    <resultMap id="BaseResultMap" type="com.xchaset.user.po.MenuRoleRelationPO">
        <id column="id_menu_role_relation" property="idMenuRoleRelation" jdbcType="VARCHAR"/>
        <result column="item_code" property="itemCode" jdbcType="VARCHAR"/>
        <result column="role_code" property="roleCode" jdbcType="VARCHAR"/>
        <result column="created_by" property="createdBy" jdbcType="VARCHAR"/>
        <result column="created_date" property="createdDate" jdbcType="TIMESTAMP"/>
        <result column="updated_by" property="updatedBy" jdbcType="VARCHAR"/>
        <result column="updated_date" property="updatedDate" jdbcType="TIMESTAMP"/>
        <result column="delete_date" property="deleteDate" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    id_menu_role_relation, item_code, role_code, created_by, created_date, updated_by, 
    updated_date, delete_date
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from menu_role_relation
        where id_menu_role_relation = #{idMenuRoleRelation,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from menu_role_relation
    where id_menu_role_relation = #{idMenuRoleRelation,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.xchaset.user.po.MenuRoleRelationPO">
    insert into menu_role_relation (id_menu_role_relation, item_code, role_code, 
      created_by, created_date, updated_by, 
      updated_date, delete_date)
    values (#{idMenuRoleRelation,jdbcType=VARCHAR}, #{itemCode,jdbcType=VARCHAR}, #{roleCode,jdbcType=VARCHAR}, 
      #{createdBy,jdbcType=VARCHAR}, #{createdDate,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR}, 
      #{updatedDate,jdbcType=TIMESTAMP}, #{deleteDate,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.xchaset.user.po.MenuRoleRelationPO">
        insert into menu_role_relation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="idMenuRoleRelation != null">
                id_menu_role_relation,
            </if>
            <if test="itemCode != null">
                item_code,
            </if>
            <if test="roleCode != null">
                role_code,
            </if>
            <if test="createdBy != null">
                created_by,
            </if>
            <if test="createdDate != null">
                created_date,
            </if>
            <if test="updatedBy != null">
                updated_by,
            </if>
            <if test="updatedDate != null">
                updated_date,
            </if>
            <if test="deleteDate != null">
                delete_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="idMenuRoleRelation != null">
                #{idMenuRoleRelation,jdbcType=VARCHAR},
            </if>
            <if test="itemCode != null">
                #{itemCode,jdbcType=VARCHAR},
            </if>
            <if test="roleCode != null">
                #{roleCode,jdbcType=VARCHAR},
            </if>
            <if test="createdBy != null">
                #{createdBy,jdbcType=VARCHAR},
            </if>
            <if test="createdDate != null">
                #{createdDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null">
                #{updatedBy,jdbcType=VARCHAR},
            </if>
            <if test="updatedDate != null">
                #{updatedDate,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteDate != null">
                #{deleteDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.xchaset.user.po.MenuRoleRelationPO">
        update menu_role_relation
        <set>
            <if test="itemCode != null">
                item_code = #{itemCode,jdbcType=VARCHAR},
            </if>
            <if test="roleCode != null">
                role_code = #{roleCode,jdbcType=VARCHAR},
            </if>
            <if test="createdBy != null">
                created_by = #{createdBy,jdbcType=VARCHAR},
            </if>
            <if test="createdDate != null">
                created_date = #{createdDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null">
                updated_by = #{updatedBy,jdbcType=VARCHAR},
            </if>
            <if test="updatedDate != null">
                updated_date = #{updatedDate,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteDate != null">
                delete_date = #{deleteDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id_menu_role_relation = #{idMenuRoleRelation,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.xchaset.user.po.MenuRoleRelationPO">
    update menu_role_relation
    set item_code = #{itemCode,jdbcType=VARCHAR},
      role_code = #{roleCode,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=VARCHAR},
      updated_date = #{updatedDate,jdbcType=TIMESTAMP},
      delete_date = #{deleteDate,jdbcType=TIMESTAMP}
    where id_menu_role_relation = #{idMenuRoleRelation,jdbcType=VARCHAR}
  </update>

    <select id="selectMenuInfoListByRoleCodes" parameterType="java.util.List"
            resultType="com.xchaset.user.dto.MenuInfoDTO">
    WITH RECURSIVE T (itemCode ,parentCode ,itemName,itemLink,imgUrl) AS
        (SELECT m.item_code itemCode,
          m.parent_code parentCode,
          m.item_name itemName,
          m.item_link itemLink,
          m.item_img_url imgUrl
          FROM menu_info m,menu_role_relation mrr
          where  m.item_code = mrr.item_code and mrr.role_code IN
          ('admin')
          UNION ALL
          SELECT
          D.item_code itemCode,
          D.parent_code parentCode,
          D.item_name itemName,
          D.item_link itemLink,
          D.item_img_url imgUrl
          FROM menu_info D
          JOIN T ON D.item_code = T.parentCode
        ) SELECT distinct itemCode ,parentCode,itemName,itemLink,imgUrl FROM T

  </select>
</mapper>